
h2{
  text-align-last: center;
}
.home {
  background: url(./images/kitchenHome.jpg) no-repeat center center fixed;
  filter: grayscale(100%);
  height: 899px;
  background-size: cover;
}

.home-content {
    padding-top: 30%;
    margin-left: 42%; 
}

.home-title {
  font-size: 5.5rem;
  color: white;
  margin-bottom: 4%;
  margin-top: 20%;
}

.header {
  font-size: 1rem;
}

.signUp {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./images/signUp.jpg) no-repeat center center fixed;
    height: 990px;
    background-size: cover;
    padding-left: 34%;
    padding-top: 13%;
}

.signIn {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./images/logIn2.jpg) no-repeat center center fixed;
  height: 990px;
  background-size: cover;
  padding-left: 34%;
  padding-top: 14%;
}

.instructions {
    margin-left: 9%;
    color: white;
    font-size: 1.5rem;
}

.field {
  margin-left: 24%;
}

.cards {
  margin: 8% 2%;
}

.mainMenu {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./images/mainMenu.jpg);
  height: 899px;
  background-size: cover;
}

.createList {
  background: linear-gradient( rgba(0, 0, 0, 2), rgba(0, 0, 0, 0.5) ), url(./images/createList.jpg);
  height: 899px;
  background-size: cover;
}


.listMenu {
  background: linear-gradient( rgba(0, 0, 0, 2), rgba(0, 0, 0, 0.5) ), url(./images/listMenu.jpg) no-repeat center center fixed;
  height: 899px;
  background-size: cover;
}

.view-list {
  background: linear-gradient( rgba(0, 0, 0, 2), rgba(0, 0, 0, 0.5) ), url(./images/viewList2.jpg);
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}


.editList{
  background: linear-gradient( rgba(0, 0, 0, 2), rgba(0, 0, 0, 0.5) ), url(./images/editList.jpg) no-repeat center center fixed;
  height: 100vh;
  background-size: cover;
}


.ordering-title{
  color: white;
  text-align: center;
}

.welcomeDisplay{
  text-align: center;
}

.logOut{
    position: absolute;
    margin-left: 91%;
}

.loginForm {
    width: 100%;
    margin-left: 7%;
}

.formContent {
    margin-left: 17%;
    width: 100%;
}


.errorMessage {
  color: red;
  font-size: 0.75em;
  display: relative;
}

.menuPlanning {
  background: linear-gradient( rgba(0, 0, 0, 2), rgba(0, 0, 0, 0) ), url(./images/menu.jpg) no-repeat center center fixed;
  height: 899px;
  background-size: cover;
}


.menuBackground{
  background: url(./images/menuBackground.jpg) no-repeat center center fixed;
  height: auto;
  padding-left: 22%;
  border-radius: 3%;
}

.menuBackground2{
  background: url(./images/menuBackground.jpg) no-repeat center center fixed;
  height: auto;
  padding-left: 11%;
  border-radius: 3%;
}


.createMenu{
  background: linear-gradient( rgba(0, 0, 0, 2), rgba(0, 0, 0, 0.5) ), url(./images/CreateMenu.jpg) no-repeat center center fixed;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.viewMenu{
  background: linear-gradient( rgba(0, 0, 0, 2), rgba(0, 0, 0, 0.5) ), url(./images/viewMenu.jpg)  no-repeat center center fixed;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.createMenuTitle {
    font-size: 3.3rem;
    margin-right: 22%;
    padding-top: 3%;
}

.category {
  font-size: 2rem;
  margin-left: 30%;
  margin-top: 8%;
}

.categoryTwo {
  font-size: 2rem;
  margin-left: 30%;
  margin-top: 20%;
}

.dish-and-price {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
    margin-right: 24%;
}

.dish {
  margin-left: 18%;
}

.description {
    font-size: 1.2rem;
    margin-bottom: 14%;
    margin-left: 20%;
}

.descriptionTwo {
  font-size: 1.2rem;
  margin-bottom: 14%;
  margin-left: 21%;
}

.extraDishes {
    margin-bottom: 16%;
    margin-right: 17%;
}

.editMenu{
  background: linear-gradient( rgba(0, 0, 0, 2), rgba(0, 0, 0, 0.1) ), url(./images/editMenu.jpg)  no-repeat center center fixed;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.googleButton {
  color: #4183c4;
}

.editPara {
    font-size: 2rem;
    width: 100%;
    margin-left: 16%;
}

.manageButtons {
    text-align: center;
    margin-bottom: 6%;
}

.manageProfileContent {
  padding-top: 17%;
}